<div id="section-footer">
    <div class="container footer center">
        <div class="row">
            <div class="col-lg-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/volodkosm"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://github.com/SergeyVolodko/FlickrSearcher"><i class="fa fa-github-square"></i></a></li>
                        <li><a href="https://www.flickr.com/"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/sergey-volodko-00962380"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
                <p class="copyright">© Sergey Volodko</p>
            </div>
        </div>
    </div>
</div>