<section id="section-screenshots" class="screenshots-wrap">
    <div class="container screenshots">
        <div class="row porfolio-container" >

            <div class="found-photo col-md-4 col-sm-4 col-xs-6"
                 ng-repeat="photo in photos">
                <div class="screenshot">
                    <div class="photo-box">
                        <img ng-src="{{photo.image_url}}">
                        <div class="photo-overlay">
                            <h4>{{photo.title}}</h4>
                        </div>
                        <span class="photo-zoom"
                              ng-click="openDetails(photo.id, photo.large_image_url)">
                            <a><i class="fa fa-search-plus fa-2x"></i></a>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>