<div class="header-section">
    <!-- sticky-bar Starts-->
    <div class="sticky-bar-wrap">
        <div class="sticky-section nav-bg">
            <div id="topbar-hold" class="nav-hold container">
                <!--=== Site Name ===-->
                <span class="navbar-brand">Flicker seracher</span>
                
                <div class="input-group center">
                    <input ng-model="searchText"
                           ng-enter="makeSearch()"
                           class="form-control navbar"
                           type="text" placeholder="Search">
                    
                    <div class="input-group-btn search-input">
                        <button ng-click="makeSearch()"
                                class="btn btn-default navbar" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sticky-bar Ends-->
</div>

    <!--
    <body ng-cloak id="view" ng-class="{'locked': layout.isPlayerOpen &amp;&amp; layout.playerType === 'video'}" ng-style="{'background': layout.branding.backgroundColor}" class="vh-100">
    <announcement ng-show="announcement.showing"> </announcement>
    <header ui-view="header" ng-switch="app.project.id" ng-if="!app.stateservice.externalAppHidesTopBar() &amp;&amp; layout.playerType === 'audio' || !app.stateservice.externalAppHidesTopBar() &amp;&amp; !layout.isPlayerOpen"></header>
    <main>

        <div ng-class="{'miniplayer': layout.isPlayerOpen &amp;&amp; layout.playerType === 'audio'}" class="scroll">
            <menu ng-cloak ng-if="!layout.stateservice.isExternalApp()" ng-class="{'active': true}"></menu>
            <sidebar ng-if="$state.current.name !== 'app.home'"></sidebar>
            <search ng-cloak class="active"></search>
            <div ui-view="content" class="content"></div>
            <cart ng-if="layout.project.id === 1"></cart>
            <shopping-cart ng-if="layout.project.id === 1" ng-show="shoppingCart.service.scope.showShoppingCart"></shopping-cart>
        </div>
    </main>
    <player ng-show="layout.isPlayerOpen &amp;&amp; !layout.stateservice.isExternalApp()"></player>
    <login ng-show="layout.authservice.auth.showLogin"></login>
    <footer ng-cloak ui-view="footer" ng-if="!app.stateservice.externalAppHidesBottomBar()"></footer>
        <spinner></spinner>-->
