<div class="header-section">
    <!-- sticky-bar Starts-->
    <div class="sticky-bar-wrap">
        <div class="sticky-section nav-bg">
            <div id="topbar-hold" class="nav-hold container">
                <!--=== Site Name ===-->
                <span class="navbar-brand">Flicker seracher</span>
                
                <div class="input-group center">
                    <input ng-model="searchText"
                           ng-enter="makeSearch()"
                           class="form-control navbar"
                           type="text" placeholder="Search">
                    
                    <div class="input-group-btn search-input">
                        <button ng-click="makeSearch()"
                                class="btn btn-default navbar" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
